<h1> Passports </h1>
<form method="POST" action="/">
  Name of Country: <input name="name">
  <br>
  Name: <input name="name">
  <br>
  DOB: <input name="name">
  <br>
  Eye Color: <input name="name">
  Hair Color: <input name="name">
  Sex: <input name="name">
  Height: <input name="name">
  
  
</form>